@model WebApplication3.Models.SystemRequirements

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SystemRequirements</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumCPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumCPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedCPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedCPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumRAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumRAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedRAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedRAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedGraphics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedGraphics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageRequired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequirementsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
